/**
 * Layout
 */

 body {
  margin: auto 1rem;
 }
 
.round-container {
  background-color: #231661;
  border-radius: 0.5rem;
}

.content-section {
  padding: 1rem;
  color: #FFF;

  &-title {
    color: #FFF;
    margin: 0rem auto 1rem;
    font-size: 1.5rem;
    font-weight: 100;
  }

  .card-container {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -0.25rem;

    .card {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1 1 49%;
      border: 1px solid #4b2fd0;
      border-radius: 0.5rem;
      overflow: hidden;
      padding: 0.75rem;
      margin: 0.25rem 0.5%;

      &-play {
        width: 3rem;
        height: 3rem;
        line-height: 3;
        text-align: center;
        border-radius: 0.5rem;
        background-color: #4b2fd0;
      }

      &-content {
        padding: 0 0.75rem;
        
        .title {
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1;
          margin: 0;
          color: #FFF;
        }

        span {
        }

        .year { 
          display: block;
          font-size: 0.75rem
        }
      }

      .flex-row {
        margin: 0;
      }
    }
  }
}