/*
 * Layout
 */

 .navbar {
  margin: 0.5rem auto;
  background-color: #4b2fd0;
  //https://www.canva.com/colors/color-meanings/indigo/
  border-radius: 1rem;

  .navbar-title {
    display: inline-block;
    border-radius: 0;
    font-size: 1.5rem;
    margin: 1rem auto;
  }
  ul {
    list-style: none;
    margin: 0;
    display: inline-block;

    li {
      display: inline-block;
    }
  }
  
  a {
    color: #FFF;
  }
 }